/*multiple-borders*/
.multiple-borders-container .box-shadow-container {
    background: yellowgreen;
    box-shadow: 0 0 0 10px #655,
    0 0 0 15px deeppink,
    0 2px 5px 15px rgba(0, 0, 0, .6)
}

.background-origin-container {
    width: 600px;
    padding: 10px;
    background: url("../images/gugu6.jpg") no-repeat #58a bottom right;
    background-size:100px auto;
    background-origin: content-box;
}
.background-calc-container{
    width: 600px;
    padding: 10px;
    background: url("../images/gugu5.jpg") no-repeat #58a calc(100% - 10px) calc(100% - 20px);
    background-size:100px auto;
}
.background-linear-container{
    background:linear-gradient(#fb3 50%,#58A 50%);
    background-size: 100% 30px;
}
.background-linear-vertical-container{
    background:linear-gradient(to right,/*或90deg*/#fb3 50%,#58A 50%);
    background-size: 30px 100%;
}